*{
    box-sizing: border-box;
}

.container {
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 1400px; /* Maximum width of the content */
    width: 100%;
    margin: 0 auto; 
    z-index: 1;
}

.firstContent{
    display: flex;
    width: 100%;
    height: 35em;
    background: linear-gradient(rgba(0, 21, 116, 0.7), rgba(0, 21, 116, 0.7)), url("../assets/contentBackground.JPG");
    background-size: cover;
    background-position: center;
    padding: 4em 3em;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: white;
}

.firstContent h1{
    font-size: 3rem;
}

.firstContent p{
    font-size: 1.1rem;
}

.secondContent{
    width: 100%;
    height: 40em;
    display: flex;
    align-items: center;
    padding: 4rem;
    background-image: url(../assets/background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardContainer{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2rem;
    width: 35em;
    padding: 3rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.buttons{
    display: flex;
    gap: 2rem;
}

.learnMore{
    background-color: #4b8cf7;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.viewResource{
    background-color: white;
    padding: 1rem;
    cursor: pointer;
    transition: background-color .3s ease;
    border-radius: 5px;
}

.viewResource:hover{
    background-color: rgba(75, 140, 247, .5);
}

.thirdContent{
    height: 42em;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.leftCard{
    width: 50%;
    height: 100%;
    background-image: url("../assets/map.jpg");
    background-size: cover;
    background-position: center;
}

.rightCard{
    width: 50%;
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.discoverMore{
    background-color: #4b8cf7;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnMore, .discoverMore{
    cursor: pointer;

}

.fourthContent{
    width: 100%;
    height: 39em;
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.imageWrap{
    border: 1px solid black;
    width: 12em;
    height: 13em;
}

.fifthContent{
    width: 100%;
    height: 39em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}

.cardContent{
    width: 100%;
    height: auto;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: .5rem;
    background-image: linear-gradient(rgba(46, 72, 204, 0.5), rgba(46, 72, 204, 0.5)), url("../assets/building.JPG");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-position: center;
    background-size: cover;
    color: white;
    filter: blur(.6px);
}

.sixthContent{
    width: 100%;
    height: 39em;
    display: flex;
    align-items: center;
    padding: 3rem;
    gap: 5rem;
}

.leftCardSix{
    width: 45%;
    height: auto;
}

.sixthButtons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.preparednessButton{
    background-color: #3b82f6;
    color: white;
    padding: .8rem 1.3rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.preparednessButton:hover{
    background-color: #2e6df6;
}

.exploreMDRRMOButton{
    border: 1px solid #e5e5e5;
    color: black;
    padding: .8rem 1.3rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.exploreMDRRMOButton:hover{
    background-color: #e5e5e5;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icons i{
    font-size: 1.2rem;
    background-color: #e8f5ff;
    color:#1f2937 ;
    padding: 1rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rightCardSix{
    width: 38%;
    height: 23em;
    background-image: url("../assets/photo.jfif");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
}

.seventhContent{
    width: 100%;
    height: 39em;
    display: flex;
    flex-direction: column;
}

.aboveContent{
    width: 100%;
    height: 30em;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.aboveLeft{
    width: 50%;
    height: 100%;
}

.aboveRight{
    background-image: url("../assets/phone.jpeg");
    background-size: cover;
    background-position: center;
    width: 50%;
    border-radius: 1rem;
    height: 100%;
}

.belowContent{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10rem;
    padding: 3rem;
}

.sections{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.secTitle{
    color: #2e6df6;     
    font-weight: bold;
}

.footer{
    width: 100%;
    height: auto;
    background-color: #05206e;
    padding: 6rem 2rem;
}

.navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    gap: 3rem;
    padding-bottom: 4rem;
}

.aboveFooter{
    border-bottom: 1px solid #1a347b;
}

.belowFooter{
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.iconLinks{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.iconLinks i{
    cursor: pointer;
}

