*{
    box-sizing: border-box;
}

.container {
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 1400px; 
    width: 100%;
    margin: 0 auto; 
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.firstContainer{
    width: 100%;
    height: 25em;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(46, 72, 204, 0.5), rgba(46, 72, 204, 0.5)), url("../assets/preparedness.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.firstCard{
    width: 55%;
    height: 100%;
}

.secondContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e8f5ff;
    align-items: center;
    padding: 5rem 1.5rem;
    gap: 3rem;
}

.aboveContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #475569;
    gap: 1rem;
}

.belowContent{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardInfo{
    display: flex;
    width: 18em;
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;
}

.thirdContent{
    width: 100%;
    height: 39em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContent{
    width: 100%;
    height: auto;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-image: linear-gradient(rgba(46, 72, 204, 0.5), rgba(46, 72, 204, 0.5)), url("../assets/building.JPG");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-position: center;
    background-size: cover;
    color: white;
    filter: blur(.6px);
}

.footer{
    width: 100%;
    height: auto;
    background-color: #05206e;
    padding: 2rem;
}

.navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    gap: 3rem;
    margin-bottom: 1rem;
}

.aboveFooter{
    border-bottom: 1px solid #1a347b;
}

.belowFooter{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.iconLinks{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.cardVideo {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.posters{
    margin-top: 1rem;
    height: 22em;
    width: auto;
    object-fit: cover;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    position: relative;
    width: auto;
    height: 42em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoomedImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 5px 10px;
    background: #fff;
    color: #333;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.closeButton:hover {
    background: #f44336;
    color: white;
}
